/* Estilos para la página */
html, body {
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative; /* Cambiado a relativo */
}

.header-buttons {
    display: flex; /* Utiliza flexbox para alinear los botones */
    justify-content: center; /* Centra los botones horizontalmente */
    margin-top: 10px; /* Añade espacio entre el logo y los botones */
}

.header-buttons button {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 0 5px; /* Reduce el espacio entre los botones */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header-buttons button:hover {
    background-color: #fff;
    color: #007bff;
}

footer {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: relative;
    width: 100%;
    font-weight: bold;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

section {
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con transparencia */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    text-align: center;
}

section h2 {
    color: #007bff;
}

#reparacion-lavarropas,
#instalacion-aire-acondicionado,
#contacto {
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con transparencia */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#reparacion-lavarropas h2,
#instalacion-aire-acondicionado h2,
#contacto h2 {
    color: #007bff;
}

#contacto p {
    margin-bottom: 10px;
}

/* Estilos para los botones de contacto */
#contacto button {
    background-color: rgba(255, 255, 255, 0.5); /* Color de fondo con transparencia */
    color: #007bff; /* Cambiado a azul */
    padding: 10px 20px;
    border: 2px solid #007bff; /* Cambiado a azul */
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}

#contacto button:hover {
    background-color: #0056b3;
}

/* Media queries para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    /* Estilos para los botones de contacto en dispositivos móviles */
    /* Establece un ancho fijo para los botones de contacto */
    #contacto .botones-contacto button {
        width: 100%; /* Establece el ancho al 100% del contenedor padre */
        max-width: 200px; /* Establece un ancho máximo para evitar que los botones se vuelvan demasiado anchos en dispositivos grandes */
        margin-bottom: 10px; /* Agrega un margen inferior para separar los botones */
    }

    #contacto button {
        display: block; /* Cambia los botones a bloque para que se muestren uno debajo del otro */
        margin: 10px auto; /* Agrega un margen a los botones y los centra horizontalmente */
    }
}
